.App {
  width: 100vw;
  height: 100vh;
  background-color: #ff0000;
  transition-property: background-color;
  transition-duration: .75s;
  transition-timing-function: linear;
  transition-delay: 0s;
}